body {
  margin: 0;
  box-sizing: border-box;
}

label {
  font-size: large;
  font-weight: bold;
}

input[type='text'] {
  transition: box-shadow 0.2s ease-in-out;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1.5px solid rgb(238, 237, 237);
  box-shadow: none;
  border-radius: 10px;
  background-color: rgb(238, 237, 237);
  font-size: 16px;
}

input[type='text']:focus,
input[type='text']:hover {
  outline: none;
  background-color: white;
  box-shadow: 0 0 0 4px rgb(255, 227, 231);
}

input[type='text']:focus {
  border: 1.5px solid pink;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  /* width: 80vw; */
}

.field-container {
  display: flex;
  justify-content: space-between;
}

div.field-container .text-field {
  width: 45%;
}
