label {
  font-size: large;
  font-weight: bold;
  margin: 12px 20px;
}

input[type='text']#name {
  transition: border 0.3s ease;
  width: 100%;
  padding: 12px 20px;
  padding-left: 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: rgb(238, 237, 237);
}

input[type='text']#name:focus,
input[type='text']#name:hover {
  outline: none;
  border: 3px solid rgb(255, 213, 219);
  background-color: white;
}

input[type='text']#username {
  transition: width 0.4s ease-in-out;
  width: 50%;
  padding: 12px 20px;
  padding-left: 40px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid blue;
  border-radius: 10px;
}

input[type='text']#username:focus,
input[type='text']#username:hover {
  width: 100%;
}
